
<mat-toolbar class="d-flex justify-content-end">

<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" >Add <span> &nbsp; <img src="../assets/image/add.svg" width="20" alt="add icon"></span>  </button>
</mat-toolbar>



<!-- Modal -->
<div class="modal fade mx-auto" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <h5 class="modal-title" id="exampleModalCenterTitle">User's Profile Details:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>

      
        <mat-vertical-stepper linear #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form #details='ngForm' (ngSubmit)='submitDetail(details)'  [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out your Details</ng-template>

              <div class="d-flex flex-column" >

                <mat-form-field>
                  <mat-label>Profile Avatar</mat-label>
                  <input matInput placeholder="Avatar Url" name="avatar" aria-describedby="avatar" [(ngModel)]="newUser.avatar_url" formControlName="avatar_url" required>
                </mat-form-field>
                <small id="avatar" class="form-text text-muted">Must be in url form for it to show.</small>

                <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input matInput placeholder="First name" name="first_name" [(ngModel)]="newUser.first_name" formControlName="firstname" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last name" name="last_name" [(ngModel)]="newUser.last_name" formControlName="lastname" required>
                </mat-form-field>
                
                <mat-form-field>
                  <mat-label>Phone Number</mat-label> 
                  <input matInput placeholder="254714028" name="Phone_number" [(ngModel)]="newUser.Phone_number" formControlName="number" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="example@gmail.com" name="email" [(ngModel)]="newUser.email" formControlName="email" required>
                </mat-form-field>
               
              </div>
              <div>
                <button type="submit" mat-button matStepperNext>Next</button>
              </div>
              
            </form>

          </mat-step>

          <mat-step [stepControl]="secondFormGroup">

            <form #security='ngForm' (ngSubmit)='submitSecurity(security)' [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out your Security Details</ng-template>

              <div class="d-flex flex-column" >

                <mat-form-field>
                  <mat-label>National ID</mat-label>
                  <input matInput placeholder="National ID" name="National_id" [(ngModel)]="newUser.National_id" formControlName="nationalid" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>KRA Pin</mat-label>
                  <input matInput placeholder="KRA Pin" name="KRA_Pin" [(ngModel)]="newUser.KRA_Pin" formControlName="krapin" required>
                </mat-form-field>
                
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button type="submit" mat-button matStepperNext>Next</button>
              </div>
              
            </form>

          </mat-step>

          <mat-step [stepControl]="thirdFormGroup">

            <form #professional='ngForm' (ngSubmit)='submitProfessional(professional)' [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Fill out your Professional Details</ng-template>

              <div class="d-flex flex-column" >

                <mat-form-field>
                  <mat-label>Company Name</mat-label>
                  <input matInput placeholder="Company Name" name="Company_Name" [(ngModel)]="newUser.Company_Name" formControlName="companyname" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Company Location </mat-label>
                  <input matInput placeholder="Company Location " name="Company_Location" [(ngModel)]="newUser.Company_Location" formControlName="companylocation" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Company Revenue </mat-label>
                  <input matInput placeholder="Company Revenue " name="Company_Revenue" formControlName="companyrevenue" [(ngModel)]="newUser.Company_Revenue" required>
                </mat-form-field>
                
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button type="submit" mat-button matStepperNext>Next</button>
              </div>
              
            </form>

          </mat-step>
        
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>

            <form>
              
              <div class="d-flex flex-column" >

                <div class="input-group input-group-sm mb-3">
                  <div class="form-group">
                    <label for="inputAddress2">First Name</label>
                    <input type="text" class="form-control" name="first_name" [(ngModel)]="newUser.first_name"  readonly>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Last Name</label>
                    <input type="text" class="form-control" name="last_name" [(ngModel)]="newUser.last_name"  readonly>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Phone Number</label>
                    <input type="text" class="form-control" name="Phone_number" [(ngModel)]="newUser.Phone_number" readonly >
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="newUser.email" readonly >
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">National ID</label>
                    <input type="text" class="form-control" name="National_id" [(ngModel)]="newUser.National_id" readonly >
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">KRA PIN</label>
                    <input type="text" class="form-control" name="KRA_Pin" [(ngModel)]="newUser.KRA_Pin" readonly >
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Company Name</label>
                    <input type="text" class="form-control" name="Company_Name" [(ngModel)]="newUser.Company_Name" readonly >
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Company Location</label>
                    <input type="text" class="form-control" name="Company_Location" [(ngModel)]="newUser.Company_Location" readonly >
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Company Revenue</label>
                    <input type="text" class="form-control" name="Company_Revenue" [(ngModel)]="newUser.Company_Revenue" readonly >
                  </div>

                </div>
              </div>    

            </form>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
              
            </div>
          </mat-step>
        </mat-vertical-stepper>
        
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>


<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Company Name</th>
      <th scope="col">Company Revenue</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table> -->


<!-- Main Application -->
<div class="card m-3" *ngFor="let user of users">
    <div class="card-body">
      <div class="container mw-100" >
          <!--  main row 1 -->
        <div class="row">
              <!-- column 1 -->
            <div class="col-md-2">
                <div class="text-center">
                    <img [src]="user.avatar_url" class="rounded" width="200" alt="profile avatar">
                </div>
            </div>
               <!-- column 2 -->
            <div class="col-md-10">
                <!-- information -->
                <div class="container d-flex flex-row my-2">
                    <div class="name font-weight-bold">{{user.id}}.{{user.login | uppercase}} <span><img src="../../../assets/image/correct.svg" width="10" alt="verfied"></span> </div>
                    <div class="actions ml-auto">
                      <a [routerLink]="[ '/users-details', user.id ]"><button type="button" class="btn btn-outline-primary btn-sm mr-2" data-toggle="tooltip" data-placement="bottom" title="Edit User">Edit</button></a>
                        
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete User" (click)="delete(user)">Delete</button>
                    </div>
                </div>
                <!-- address section -->
                <div class="container ">
                    <div class="row">
                            <div class="col-md-3 col-12">
                              <p class="mr-2"><img src="../../../assets/image/mail.svg" width="15" alt="mail"> {{user.email}}</p>
                            </div>

                            <div class="col-md-3 col-12">
                              <p class="mr-2"><img src="../../../assets/image/work (1).svg" width="15" alt="companyname"> {{user.Company_Name}}</p>
                            </div>

                            <div class="col-md-3 col-12">
                              <p class="mr-2"><img src="../../../assets/image/unearned.svg" width="20" alt="revenue"> {{user.Company_Revenue}}</p>

                            </div>
                    </div>

                </div>
                <!-- bio section -->
                <div class="container d-flex flex-row">
                    <div class="bio">
                        I distinguish three main text objektive could be merely to inform people. <br>
                        A second could be persuade people.You want people to bay objective    
                    </div>

                </div>
            </div>  
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-6 d-flex flex-row">

                <div class="media position-relative">
                    <img src="../../../assets/image/money.svg" width="35" class="mr-3" alt="personal info">
                    <div class="media-body">
                      <p class="font-weight-bold">Earnings</p>
                      <p class="mt-n1 text-muted">$145,200</p>
                    </div>
                  </div>
                
            </div>
            <div class="col-md-2 col-6">

                <div class="media position-relative">
                    <img src="../../../assets/image/expense.svg" width="35" class="mr-3" alt="personal info">
                    <div class="media-body">
                      <p class="font-weight-bold">Expenses</p>
                      <p class="mt-n1 text-muted">$274,230</p>
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-6">

                <div class="media position-relative">
                    <img src="../../../assets/image/graphic-chart.svg" width="35" class="mr-3" alt="personal info">
                    <div class="media-body">
                      <p class="font-weight-bold">Net</p>
                      <p class="mt-n1 text-muted">$461,120</p>
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-6">

                <div class="media position-relative">
                    <img src="../../../assets/image/paper.svg" width="35" class="mr-3" alt="personal info">
                    <div class="media-body">
                      <p class="font-weight-bold">Repository</p>
                      <a href="{{user.repos_url}}" target="_blank">
                        <p class="mt-n1">View all</p>
                      </a>
                      
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-6">

                <div class="media position-relative">
                    <img src="../../../assets/image/speak.svg" width="35" class="mr-3" alt="personal info">
                    <div class="media-body">
                      <p class="font-weight-bold">Followers</p>
                      <a href="{{user.followers_url}}" target="_blank">
                        <p class="mt-n1">View all</p>
                      </a>
                      
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-6">

                <div class="media position-relative">
                    <img src="../../../assets/image/team.svg" width="35" class="mr-3" alt="personal info">
                    <div class="media-body">
                      <p class="font-weight-bold">Network</p>
                      <a href="{{user.url}}" target="_blank">
                        <p class="mt-n1">View</p>
                      </a>
                    </div>
                </div>

            </div>
        </div>
    
      </div>
    </div>
</div>
