
<nav class="navbar navbar-expand-lg bg-white">
  <a class="navbar-brand" href="#">
    <img src="../assets/image/logo.png" width="150" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <p class="nav-link text-secondary font-weight-bold" href="#">Users <span class="sr-only">(current)</span></p>
      </li>  -->
      <!-- <li class="nav-item">
       |
      </li> -->
      <!-- <li class="nav-item">
    
        <div class="nav-link text-secondary">
          <input type="text" class="form-control" placeholder="Recipient's username">
        </div>
      </li> -->
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>